.heading-secondary {
  font-weight: 600;
  font-size: 3.5rem;
  letter-spacing: 2px;
  margin-bottom: 5px;
  backface-visibility: hidden;
  background-image: linear-gradient(to right, #74d2fb, #59b9e9);
  -webkit-background-clip: text;
  color: transparent; }
  @media (max-width: 37.5em) {
    .heading-secondary {
      background-image: none;
      color: #fff; } }

.paragraph {
  margin-bottom: 10px; }

.btn {
  text-transform: uppercase;
  padding: 1.5rem 5rem;
  border-radius: 10rem;
  transition: all 0.2s;
  border: none;
  color: #fff;
  font-weight: 400;
  cursor: pointer;
  transition: all .3s;
  outline: none; }
  .btn--red {
    background-color: #cb2b39; }
  .btn--add {
    align-self: center; }
  .btn--todoList {
    background-color: #cb2b39; }
  .btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.3); }
  .btn:active, .btn:visited {
    outline: none;
    transform: translateY(0px); }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media (max-width: 37.5em) {
    html {
      font-size: 50%; } }

body {
  font-family: 'lato','Open Sans', sans-serif;
  font-weight: 400;
  font-size: 1.6rem; }

.section__auth {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  background: linear-gradient(145deg, #59b9e9, rgba(116, 210, 251, 0.9));
  height: 100vh; }
  @media (max-width: 37.5em) {
    .section__auth {
      background: none;
      background: linear-gradient(150deg, rgba(89, 185, 233, 0.9), rgba(116, 210, 251, 0.9)); } }

.auth-card {
  position: relative;
  flex: 0 0 60%;
  width: 50%;
  align-self: center;
  display: flex;
  justify-content: flex-start;
  align-content: space-around;
  background: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 50%, rgba(89, 185, 233, 0.9) 50%, rgba(116, 210, 251, 0.9) 100%);
  box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.3);
  border-radius: 20px; }
  @media (max-width: 75em) {
    .auth-card {
      flex: 0 0 90%;
      width: 90%; } }
  @media (max-width: 56.25em) {
    .auth-card {
      flex: 0 0 90%;
      width: 90%; } }
  @media (max-width: 37.5em) {
    .auth-card {
      flex: 0 0 100%;
      width: 100%;
      border-radius: 0px;
      background: none; } }
  .auth-card__icon-box {
    flex: 0 0 50%;
    display: flex;
    justify-content: center; }
    @media (max-width: 37.5em) {
      .auth-card__icon-box {
        position: absolute;
        left: 50%;
        top: 20%;
        transform: translate(-50%, -50%); } }
  @media (max-width: 37.5em) {
    .auth-card .log {
      position: absolute;
      left: 50%;
      top: 12%;
      text-align: center;
      transform: translate(-50%, -50%); } }
  .auth-card__icon {
    align-self: center;
    font-size: 20rem;
    color: #fff;
    height: 20rem;
    width: 20rem; }
    @media (max-width: 37.5em) {
      .auth-card__icon {
        font-size: 15rem;
        height: 15rem;
        width: 15rem; } }
  .auth-card__form {
    flex: 0 0 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; }
    .auth-card__form h2 {
      margin-bottom: 4rem; }
    @media (max-width: 37.5em) {
      .auth-card__form {
        flex: 0 0 100%; } }
    .auth-card__form__group {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 80%; }
      @media (max-width: 37.5em) {
        .auth-card__form__group {
          color: #fff; } }
      .auth-card__form__group button {
        align-self: center; }
        @media (max-width: 37.5em) {
          .auth-card__form__group button {
            margin-top: 6rem;
            margin-bottom: 6rem;
            color: #fff; } }
    .auth-card__form__group:not(:last-child) {
      margin-bottom: 2rem; }
      @media (max-width: 37.5em) {
        .auth-card__form__group:not(:last-child) {
          margin-bottom: .5rem; } }
    .auth-card__form__input {
      align-self: flex-start;
      display: block;
      font-size: 1.5rem;
      font-family: inherit;
      color: inherit;
      padding: 1.5rem 2rem .5rem;
      border-radius: 2px;
      background-color: rgba(255, 255, 255, 0.1);
      border: none;
      border-bottom: 2px solid black;
      width: 90%;
      transition: all .6s; }
      @media (max-width: 37.5em) {
        .auth-card__form__input {
          align-self: center;
          background-color: #fff;
          color: #333; } }
      .auth-card__form__input:focus {
        outline: none;
        box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.3);
        border-bottom: 3px solid #55c57a; }
      .auth-card__form__input::-webkit-input-placeholder {
        color: #333; }
      .auth-card__form__input:focus:invalid {
        border-bottom: 3px solid #FF3366; }
    .auth-card__form__label {
      margin-left: 2rem;
      margin-top: .7rem;
      font-size: 1.4rem;
      display: block;
      transition: all .3s;
      width: 90%; }
      @media (max-width: 37.5em) {
        .auth-card__form__label {
          margin-left: 3.2rem;
          color: #fff; } }
    .auth-card__form__input:placeholder-shown ~ .auth-card__form__label {
      opacity: 0;
      visibility: hidden;
      transform: translateY(-4rem); }

.error-form {
  border-radius: 12px;
  background-color: lightcoral;
  color: white;
  padding: 1rem;
  margin-top: 4px; }

.auth__error {
  padding: 1rem;
  border-radius: 12px;
  background-color: lightcoral;
  text-align: center;
  color: white;
  width: 90%; }
  @media (max-width: 37.5em) {
    .auth__error {
      align-self: center; } }

.auth__error--input {
  background-color: lightcoral; }

@media (max-width: 37.5em) {
  .auth-card--register {
    margin-top: 20rem; } }

.auth-card--register > h2 {
  margin-bottom: 3rem; }

.spanStyle {
  font-weight: 500;
  text-decoration: underline;
  cursor: pointer;
  color: white; }

.authLink {
  text-align: center; }
