.note-container {
  display: flex;
  height: 100%;
  background-color: $color-white;
  justify-content: center;
  overflow: scroll;
}

.note {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
  & > * {
    padding: 2rem;
    margin: 2rem;
  }
  & input {
    font-family: inherit;
    font-size: 3rem;
    border: none;
    outline: none;
    &:focus {
      background-color: khaki;
    }
  }
  & textarea {
    font-family: inherit;
    font-size: inherit;
    flex: 1 1 auto;
    resize: none;
    &:focus {
      outline: none;
      border: none;
    }
  }
}
.no-note-message {
  display: flex;
  align-self: center;
  flex-direction: column;
}
.no-note-logo {
  align-self: center;
  justify-self: center;
  & i {
    padding: 2rem;
    font-size: 6rem;
  }
}

.note__image img {
  margin-top: 20px;
  height: 200px;
  width: 400px;
  box-shadow: 5px 5px $color-grey-dark-1;
  border-radius: 5px;
}
